<html>
	<head></head>
	<body>
		<form action="/display" method="get">
			<p> True Symbol: <input type='text' name='t_symbol' /> </p>
			<p> False Symbol: <input type='text' name='f_symbol' /> </p>
			<p> Size (2^x): <input type='text' name='table_size' /> </p>
			<p> <a href="/"> <input type='submit' value='Show truth table' /> </a> </p>
		</form>
		<p> <a href="/"> Refresh page </a> </p>
	</body>
</html>