<html>
	<head> <h1> <p> Error </p> </h1> </head>
	<body>
		<h1> <p> Invalid parameters </p> </h1>
		<h2> <p> Please enter: </p> </h2>
		<ol>
			<li>	A single-character true symbol </li>
			<li>	A single-character false symbol </li>
			<li>	A size greater than or equal to 2 </li>
			<li>	Different characters for the true and false symbols </li>
		</ol>
		<p> <a href="/"> Back to main </a> <p/>
	</body>
</html>